html{
    margin: 10rem;
    text-align: center;
    background-color: #f1c721;
    font-family: 'Trebuchet MS';
}
.form-container{
    background-color: #fff;
    margin: 0;
    border-radius: 2rem;
}

input[type=text] {
    border: 2px solid #f1c721;
    margin-top: 1rem;
    height: 2rem;
    width: 20rem;
    border-radius: 5px;  
}

input[type=submit] {
    border-radius: 2rem;
    margin-top: 1rem;
    height: 3rem;
    width: 10rem;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #ebd375;
    font-weight: bold;
}


input[type=submit]:hover{
    background-color: #ebd375;
}
